# 1. Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio

pio.renderers.default = "svg"

# 2. Importing the dataset

In [2]:
#import dataset
df=pd.read_csv('Zomato_Chennai.csv')

In [3]:
df

,Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,https://www.zomato.com/chennai/yaa-mohaideen-b...,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,https://www.zomato.com/chennai/sukkubhai-biriy...,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,https://www.zomato.com/chennai/ss-hyderabad-bi...,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,https://www.zomato.com/chennai/kfc-perambur,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,https://www.zomato.com/chennai/tasty-kitchen-p...,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...,...,...
12027,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Porur,['Sandwich'],Invalid,350.0,None,None,None,None,"['Breakfast', 'Delivery Only']"
12028,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Kolathur,['Sandwich'],Invalid,350.0,None,None,None,None,"['Breakfast', 'Delivery Only']"
12029,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Anna Nagar East,['Sandwich'],Invalid,350.0,None,None,None,None,"['Breakfast', 'Delivery Only']"
12030,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Ramapuram,['Sandwich'],Invalid,350.0,None,None,None,None,"['Breakfast', 'Delivery Only']"
12031,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Sholinganallur,['Sandwich'],Invalid,350.0,None,None,None,None,"['Breakfast', 'Delivery Only']"

# 3. Getting Basic Information about the Dataset

In [4]:
df.shape

(12032, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 12 columns):
Zomato URL               12032 non-null object
Name of Restaurant       12032 non-null object
Address                  12032 non-null object
Location                 12032 non-null object
Cuisine                  12032 non-null object
Top Dishes               12032 non-null object
Price for 2              12032 non-null float64
Dining Rating            12032 non-null object
Dining Rating Count      12032 non-null object
Delivery Rating          12032 non-null object
Delivery Rating Count    12032 non-null object
Features                 12032 non-null object
dtypes: float64(1), object(11)
memory usage: 1.1+ MB

In [6]:
df.describe()

        Price for 2
count  12032.000000
mean     397.611370
std      332.045938
min       40.000000
25%      200.000000
50%      300.000000
75%      450.000000
max     5000.000000

# 4. Cleaning the Dataset

### a. Removing the redundunt rows of data

In [7]:
# No redundunt rows of data

In [8]:
# Dropping columns which are not required for further analysis

df.drop(['Zomato URL', 'Address', 'Features'], axis = 1, inplace=True)

### b. Removing the Null Records

In [9]:
df.isnull().sum()

Name of Restaurant       0
Location                 0
Cuisine                  0
Top Dishes               0
Price for 2              0
Dining Rating            0
Dining Rating Count      0
Delivery Rating          0
Delivery Rating Count    0
dtype: int64

In [10]:
# No Null

### c. Converting the DataTypes of numerical columns to numeric dataype

In [11]:
df['Dining Rating'].value_counts()

None    5351
3.6      584
3.5      553
3.7      525
3.4      500
3.3      463
3.8      460
3.2      433
3.9      379
3.1      363
2.0      354
3.0      302
4.0      288
2.9      257
4.1      221
2.8      192
4.2      142
2.7      138
4.3      105
2.6       99
2.5       71
4.4       61
2.4       46
4.5       36
2.3       32
2.2       20
4.6       17
4.7       12
2.1       10
4.9        7
4.8        4
1.9        3
1.7        2
1.0        1
0.3        1
Name: Dining Rating, dtype: int64

In [12]:
df['Dining Rating'].replace('None',0,inplace=True)

In [13]:
df['Dining Rating Count'].value_counts()

Does not offer Dining        2603
Not enough Dining Reviews    2528
4                             339
5                             271
6                             248
                             ...
912                             1
558                             1
728                             1
766                             1
623                             1
Name: Dining Rating Count, Length: 794, dtype: int64

In [14]:
df['Dining Rating Count'].replace(to_replace=['Does not offer Dining','Not enough Dining Reviews'],value='0',inplace=True)

In [15]:
df['Delivery Rating'].value_counts()

None    5851
3.9     1383
3.8      701
4.0      570
3.7      559
4.1      468
3.6      465
4.2      401
3.5      314
4.3      277
3.4      259
3.3      189
4.4      128
3.2       93
3.1       79
3.0       63
4.5       55
2.9       39
2.8       26
4.6       24
2.7       19
2.6       17
2.5        9
0.3        8
2.4        7
2.3        5
2.2        5
1.8        5
2.0        5
4.7        4
2.1        2
1.6        1
1.5        1
Name: Delivery Rating, dtype: int64

In [16]:
df['Delivery Rating'].replace('None',0,inplace=True)

In [17]:
df['Delivery Rating Count'].value_counts()

Not enough Delivery Reviews    3379
Does not offer Delivery        2252
None                            220
27                               34
32                               30
                               ...
1201                              1
735                               1
867                               1
2112                              1
2762                              1
Name: Delivery Rating Count, Length: 2282, dtype: int64

In [18]:
df['Delivery Rating Count'].replace(to_replace=['Does not offer Delivery','Not enough Delivery Reviews','None'],value='0',inplace=True)

# d. Working with 'Timing' column

In [19]:
# No Timing Columns

# e. Removing the restaurant records whose Rating or Votes is 0

In [20]:
# Finding those restaurant whose has 0 Rating or Votes

Useless_data=(df['Dining Rating']==0.0) | (df['Delivery Rating']==0.0) | (df['Delivery Rating Count']==0) | (df['Dining Rating Count']==0)
df[Useless_data]

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count
6,Bai Veetu Kalyanam,Navallur,['Biryani'],"['Bread Halwa', ' Mutton Biryani', ' Brinjal G...",350.0,0,0,4.3,1061
15,Welcome Hotel,Purasavakkam,"['South Indian', ' Desserts', ' Beverages']","['Pongal', ' Podi Dosa', ' Idli Sambar', ' Vad...",300.0,4.5,1094,0,0
18,Wire Room Bar & Kitchen,"Phoenix Market City, Velachery","['Continental', ' Asian']","['Cocktails', ' Salad', ' Beer', ' Tikka', ' P...",2000.0,4.1,354,0,0
23,BFF 2.0,RA Puram,"['North Indian', ' Continental', ' Italian']","['Crispy Chicken', ' Cocktails', ' Pizza', ' N...",1500.0,4.2,464,0,0
77,Al Dhareeq Beef Biriyani,Kodambakkam,['Biryani'],['Beef Biryani'],300.0,0,0,3.9,19600
...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Porur,['Sandwich'],Invalid,350.0,0,None,0,0
12028,CK's Sandwiches,Kolathur,['Sandwich'],Invalid,350.0,0,None,0,0
12029,CK's Sandwiches,Anna Nagar East,['Sandwich'],Invalid,350.0,0,None,0,0
12030,CK's Sandwiches,Ramapuram,['Sandwich'],Invalid,350.0,0,None,0,0
12031,CK's Sandwiches,Sholinganallur,['Sandwich'],Invalid,350.0,0,None,0,0

In [21]:
## Performing Negation of the useless dataset and then storing the correct data back in the dataset DataFrame
## This permamnently remove the wrong data from the original dataframe

df = df[~Useless_data]

## f. Working on 'Location' Column

In [22]:
df['Location'].value_counts()

Porur                                                 148
Anna Nagar East                                       146
Velachery                                             145
Ambattur                                              124
T. Nagar                                              119
                                                     ...
Somerset Greenways                                      1
Holiday Inn Chennai OMR IT Expressway                   1
New Woodlands Hotel, Mylapore                           1
Abhiramapuram                                           1
Gokulam Park Sabari - OMR, Old Mahabalipuram Road       1
Name: Location, Length: 161, dtype: int64

In [23]:
df['Location'].unique()

array(['Pallavaram', 'Alandur', 'Kodambakkam', 'Perambur', 'Medavakkam',
       'Anna Nagar East', 'T. Nagar', 'Velachery', 'Vadapalani', 'Porur',
       'Kilpauk', 'Ashok Nagar', 'Chetpet', 'Aminijikarai', 'Ramapuram',
       'Mylapore', 'Thuraipakkam', 'Alwarpet', 'Mogappair',
       'West Mambalam', 'Adyar', 'Nungambakkam', 'Royapettah',
       'Chromepet', 'Kolathur', 'Valasaravakkam', 'Guindy', 'Potheri',
       'Navallur', 'Egmore', 'Madipakkam', 'Thiruvanmiyur', 'Saligramam',
       'Sholinganallur', 'Perungudi', 'Besant Nagar', 'Kotturpuram',
       'Semmancheri', 'Royapuram', 'Anna Nagar West',
       'Phoenix Market City, Velachery', 'Ambattur', 'Thousand Lights',
       'Purasavakkam', 'Mayajaal Multiplex, Kanathur', 'Washermenpet',
       'Selaiyur', 'The Park, Nungambakkam', 'Choolaimedu',
       'New Woodlands Hotel, Mylapore', 'RA Puram', 'Gopalapuram',
       'East Coast Road (ECR)', 'OMR Food Street, Kandanchavadi',
       'TNHB Complex, Besant Nagar', 'Kanathur', 'GST Road', 'MRC Nagar',
       'Paati Veedu, T.Nagar', 'Kipling, East Coast Road (ECR)',
       'The Spring Hotel, Nungambakkam', 'Neelangarai', 'Egatoor',
       'Express Avenue Mall,Royapettah',
       'Sathyam Cinemas Complex, Royapettah', 'Citadines',
       'Foodies Kitchen', 'St. Thomas Mount', 'Akkarai', 'Adambakkam',
       'Ekkaduthangal', 'Teynampet',
       'Holiday Inn Chennai OMR IT Expressway', 'Injambakkam',
       'Hotel Centre Point, Sholinganallur', 'Sowcarpet',
       'Somerset Greenways', 'Triplicane', 'Avadi', 'Taramani',
       'Tambaram', 'Pallikaranai', 'OMR Food Street, Guduvancheri',
       'K.K. Nagar', 'Harrisons Hotel, Nungambakkam', 'Nandanam',
       'Karapakkam', 'Old Mahabalipuram Road (OMR)', 'Padur',
       'Kottivakkam', 'Nanganallur', 'Vandalur',
       'Massbunk Complex, Purasavakkam', 'OMR Food Street, Ambattur',
       'Hotel Rajpark, Alwarpet', 'Okkiyampet',
       'Ispahani Centre, Nungambakkam', 'Benzz Park, T. Nagar',
       'OMR Food Street, Navallur', 'Ambica Empire, Vadapalani',
       'George Town', 'Poonamalle', 'Santhome', 'Hilton Chennai, Guindy',
       'Mahindra World City, Chengalpattu', 'Vepery', 'Saidapet',
       'Hotel Vassi Palaze, Kanchipuram District', 'Maduravoyal',
       'Park Town', 'Koyambedu', 'Arumbakkam', 'Kelambakkam',
       'Ambit IT Park, Ambattur', 'Kanchipuram District',
       'VR Mall, Anna Nagar', 'Madhavaram', 'Abhiramapuram',
       'OMR Food Street, Perumbakkam', 'Palavakkam',
       'Kora Food Street, Anna Nagar West', 'Thiruvallur',
       'Gokulam Park Hotel, Ashok Nagar', 'Chengalpattu',
       'Hotel Marina Inn, Egmore', 'Shenoy Nagar',
       'OMR Food Street,Thuraipakkam',
       'Fairfield by Marriot, Chengalpattu',
       'Gokulam Park Sabari - OMR, Old Mahabalipuram Road ',
       'Virugambakkam', 'Anna Salai', 'Parrys',
       'SKLS Galaxy Mall, Redhills', 'Tiruvottiyur',
       'Chennai Food Town, Thuraipakkam', 'Grand Residence Hotel, Porur',
       'Red Hills', 'Hotel Bhimaas, Vadapalani',
       'OMR Food Street, Injambakkam', 'TNHB Complex, Adyar',
       'Forum Vijaya Mall, Vadapalani', 'Ranga Residency, Chengalpattu',
       "The King's Hotel, Egmore", 'Spencer Plaza Mall, Thousand Lights',
       'Ponnis Grand Inn Hotel, Thiruvallur', 'Hotel SRR Grand, Vandalur',
       'Chennai Citi Centre, Mylapore', 'Mahabalipuram', 'Muttukadu',
       'Hotel Sudhara, T. Nagar', 'The Grand Mall, Velachery',
       'Eat And Pack, Ambattur ', 'Ampa Skywalk Mall, Aminijikarai',
       'Mandaveli', 'Vettuvankeni', 'Ascendas IT Park, Taramani',
       'Meenambakkam', 'DLF IT Park, Ramapuram',
       'RMZ Millenia Business Park, Old Mahabalipuram Road (OMR)',
       'RK Salai (Cathedral Road)',
       'Spectrum The Grand Venus Mall, Perambur'], dtype=object)

In [24]:
# replacing Chennai locations with correct locations
chennai_locations = {
    'Phoenix Market City, Velachery': 'Velachery',
    'OMR Food Street, Kandanchavadi': 'Kandanchavadi',
    'TNHB Complex, Besant Nagar': 'Besant Nagar',
    'Paati Veedu, T.Nagar': 'T. Nagar',
    'Kipling, East Coast Road (ECR)': 'East Coast Road (ECR)',
    'The Spring Hotel, Nungambakkam': 'Nungambakkam',
    'OMR Food Street, Navallur': 'Navallur',
    'Holiday Inn Chennai OMR IT Expressway': 'OMR IT Expressway',
    'Hotel Centre Point, Sholinganallur': 'Sholinganallur',
    'Massbunk Complex, Purasavakkam': 'Purasavakkam',
    'OMR Food Street, Ambattur': 'Ambattur',
    'Hotel Rajpark, Alwarpet': 'Alwarpet',
    'Ispahani Centre, Nungambakkam': 'Nungambakkam',
    'Benzz Park, T. Nagar': 'T. Nagar',
    'OMR Food Street, Perumbakkam': 'Perumbakkam',
    'Kora Food Street, Anna Nagar West': 'Anna Nagar West',
    'Fairfield by Marriot, Chengalpattu': 'Chengalpattu',
    'Gokulam Park Sabari - OMR, Old Mahabalipuram Road ': 'Old Mahabalipuram Road (OMR)',
    'Chennai Food Town, Thuraipakkam': 'Thuraipakkam',
    'OMR Food Street, Injambakkam': 'Injambakkam',
    'TNHB Complex, Adyar': 'Adyar',
    'Forum Vijaya Mall, Vadapalani': 'Vadapalani',
    'The King\'s Hotel, Egmore': 'Egmore',
    'Spencer Plaza Mall, Thousand Lights': 'Thousand Lights',
    'Hotel SRR Grand, Vandalur': 'Vandalur',
    'Chennai Citi Centre, Mylapore': 'Mylapore',
    'Hotel Sudhara, T. Nagar': 'T. Nagar',
    'The Grand Mall, Velachery': 'Velachery',
    'Eat And Pack, Ambattur ': 'Ambattur',
    'Ampa Skywalk Mall, Aminijikarai': 'Aminijikarai',
    'Ascendas IT Park, Taramani': 'Taramani',
    'DLF IT Park, Ramapuram': 'Ramapuram',
    'RMZ Millenia Business Park, Old Mahabalipuram Road (OMR)': 'Old Mahabalipuram Road (OMR)',
    'Spectrum The Grand Venus Mall, Perambur': 'Perambur'}

In [25]:
# Replace Chennai locations with correct locations in the 'Location' column
df['Location'] = df['Location'].replace(chennai_locations)

C:\Users\Ruban J\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
df['Location']

0         Pallavaram
1            Alandur
2        Kodambakkam
3           Perambur
4           Perambur
            ...
11666        Alandur
11667     Palavakkam
11736          Porur
11785       Ambattur
11794     Karapakkam
Name: Location, Length: 4381, dtype: object

# g. Removing Duplicate records

In [27]:
# Finding all the duplicate rows

df[df.duplicated()]

Empty DataFrame
Columns: [Name of Restaurant, Location, Cuisine, Top Dishes, Price for 2, Dining Rating, Dining Rating Count, Delivery Rating, Delivery Rating Count]
Index: []

In [28]:
# No Duplicates

# h. Converting Rating and Rating counts

In [29]:
df['Rating'] = df[['Dining Rating', 'Delivery Rating']].max(axis=1)
df['Rating']

C:\Users\Ruban J\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0        4.3
1        4.4
2        4.4
3        4.0
4        4.2
        ...
11666    3.9
11667    3.9
11736    3.9
11785    3.5
11794    4.2
Name: Rating, Length: 4381, dtype: float64

In [30]:
df['Rating_Count'] = df[['Dining Rating Count', 'Delivery Rating Count']].max(axis=1)
df['Rating_Count']

C:\Users\Ruban J\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0         9306.0
1        39200.0
2         1361.0
3        11200.0
4          617.0
          ...
11666       42.0
11667       48.0
11736        6.0
11785        6.0
11794        6.0
Name: Rating_Count, Length: 4381, dtype: float64

In [31]:
df

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Rating,Rating_Count
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,4.3,9306.0
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,4.4,39200.0
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,4.4,1361.0
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,4.0,11200.0
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,4.2,617.0
...,...,...,...,...,...,...,...,...,...,...,...
11666,Juice World,Alandur,"['Beverages', ' Fast Food']",Invalid,300.0,2.0,4,3.9,42,3.9,42.0
11667,Juice World,Palavakkam,"['Beverages', ' Fast Food']",Invalid,300.0,2.0,4,3.9,48,3.9,48.0
11736,Adyar Vaishnavas Thattu Idly Kadai,Porur,"['South Indian', ' Sandwich', ' Chinese', ' St...",Invalid,200.0,3.2,6,3.9,48,3.9,6.0
11785,Engineers Kitchen,Ambattur,"['North Indian', ' Chinese', ' Andhra']",Invalid,400.0,2.5,6,3.5,214,3.5,6.0
11794,That Juice Shop,Karapakkam,"['Juices', ' Beverages']",Invalid,200.0,3.6,6,4.2,157,4.2,6.0

In [32]:
df=df.drop(['Dining Rating', 'Dining Rating Count', 'Delivery Rating', 'Delivery Rating Count'], axis=1)
df

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Rating,Rating_Count
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,9306.0
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,39200.0
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.4,1361.0
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,11200.0
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617.0
...,...,...,...,...,...,...,...
11666,Juice World,Alandur,"['Beverages', ' Fast Food']",Invalid,300.0,3.9,42.0
11667,Juice World,Palavakkam,"['Beverages', ' Fast Food']",Invalid,300.0,3.9,48.0
11736,Adyar Vaishnavas Thattu Idly Kadai,Porur,"['South Indian', ' Sandwich', ' Chinese', ' St...",Invalid,200.0,3.9,6.0
11785,Engineers Kitchen,Ambattur,"['North Indian', ' Chinese', ' Andhra']",Invalid,400.0,3.5,6.0
11794,That Juice Shop,Karapakkam,"['Juices', ' Beverages']",Invalid,200.0,4.2,6.0

# 4. Copying the cleaned data into a new DataFrame

In [33]:
zomato_df = df.copy()

In [34]:
zomato_df.head(100)

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Rating,Rating_Count
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,9306.0
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,39200.0
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.4,1361.0
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,11200.0
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617.0
...,...,...,...,...,...,...,...
104,City Square Cafeteria,Egmore,"['Fast Food', ' Beverages', ' Sandwich']","['Chicken Grill', ' Chicken Sandwich', ' Pizza...",200.0,4.1,611.0
105,Bhangra,"Mayajaal Multiplex, Kanathur",['North Indian'],"['Butter Chicken', ' Dal Makhani', ' Sweet Las...",800.0,4.9,2226.0
108,Rayar's Mess,Mylapore,['South Indian'],"['Pongal', ' Vada', ' Filtered Coffee', ' Idli...",100.0,4.7,904.0
109,Hotel Safari,Royapettah,"['Chettinad', ' Chinese', ' Seafood', ' Hydera...","['Paratha', ' Tea', ' Paya', ' Coffee', ' Mutt...",450.0,4.2,516.0
110,VB Signature,Nungambakkam,"['North Indian', ' South Indian', ' Chinese', ...","['Momos', ' Idiyappam', ' Pumpkin Soup', ' Coc...",1000.0,4.5,750.0

# 5. Performing Exploratory Data Analysis

### Q1) How many restaurants are in Mumbai for each type of cuisine?

### Q2) What are the percentage of restaurants by Rating Type in Chennai?

In [35]:
# Define a lambda function to categorize the rating
rating_type = lambda x: 'Very Poor' if x < 2.5 else 'Poor' if x < 3.0 else 'Average' if x < 3.5 else 'Good' if x < 4.0 else 'Very Good' if x < 4.5 else 'Excellent'

# Apply the lambda function to create the "Rating Type" column
zomato_df['RATING_TYPE'] = zomato_df['Rating'].apply(rating_type)
zomato_df

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Rating,Rating_Count,RATING_TYPE
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,9306.0,Very Good
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,39200.0,Very Good
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.4,1361.0,Very Good
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,11200.0,Very Good
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617.0,Very Good
...,...,...,...,...,...,...,...,...
11666,Juice World,Alandur,"['Beverages', ' Fast Food']",Invalid,300.0,3.9,42.0,Good
11667,Juice World,Palavakkam,"['Beverages', ' Fast Food']",Invalid,300.0,3.9,48.0,Good
11736,Adyar Vaishnavas Thattu Idly Kadai,Porur,"['South Indian', ' Sandwich', ' Chinese', ' St...",Invalid,200.0,3.9,6.0,Good
11785,Engineers Kitchen,Ambattur,"['North Indian', ' Chinese', ' Andhra']",Invalid,400.0,3.5,6.0,Good
11794,That Juice Shop,Karapakkam,"['Juices', ' Beverages']",Invalid,200.0,4.2,6.0,Very Good

In [36]:
zomato_df['RATING_TYPE'].value_counts()

Good         2305
Very Good    1658
Average       283
Excellent     114
Poor           15
Very Poor       6
Name: RATING_TYPE, dtype: int64

In [37]:
rating_type_df = zomato_df['RATING_TYPE'].value_counts().reset_index()
rating_type_df

       index  RATING_TYPE
0       Good         2305
1  Very Good         1658
2    Average          283
3  Excellent          114
4       Poor           15
5  Very Poor            6

In [38]:
#renaming the columns
rating_type_df.rename(columns={'index':'RATING TYPE', 'RATING_TYPE':'COUNT OF RESTAURANTS'},inplace=True)
rating_type_df

  RATING TYPE  COUNT OF RESTAURANTS
0        Good                  2305
1   Very Good                  1658
2     Average                   283
3   Excellent                   114
4        Poor                    15
5   Very Poor                     6

In [39]:
fig=px.pie(rating_type_df,names='RATING TYPE',values='COUNT OF RESTAURANTS',color='RATING TYPE',
          title='Percentage of Restaurants by Rating Type').update_traces(textposition='inside', textinfo='percent+label')
fig.show()

### Q3) Which are the Top 10 highest rated Seafood Restaurant in Chennai?

In [40]:
seafood_df=zomato_df[zomato_df['Cuisine'].str.contains('Seafood')]

In [41]:
seafood_df

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Rating,Rating_Count,RATING_TYPE
14,Hotel Paramount,Kilpauk,"['North Indian', ' Chinese', ' Seafood', ' Sou...","['Biryani', ' Butter Chicken', ' Tandoori Chic...",500.0,4.3,17700.0,Very Good
17,Abid's,Chetpet,"['Seafood', ' Biryani', ' Hyderabadi', ' Arabi...","['Haleem', ' Hyderabadi Dum Biryani', ' Brinja...",1200.0,4.2,742.0,Very Good
25,Salem RR Briyani Unavagam,Velachery,"['Biryani', ' Chinese', ' North Indian', ' Sea...","['Chicken 65', ' Mutton Biryani', ' Tandoori C...",550.0,4.2,1717.0,Very Good
49,Sea Emperor,Madipakkam,"['Chinese', ' Arabian', ' North Indian', ' Sea...","['Chicken Grill', ' Shawarma', ' Bbq Chicken',...",900.0,3.9,6855.0,Good
53,Copper Kitchen,Saligramam,"['North Indian', ' Chinese', ' Chettinad', ' S...","['Biryani', ' Fish', ' Bbq Chicken', ' Banana ...",1000.0,4.2,2275.0,Very Good
...,...,...,...,...,...,...,...,...
9617,Anjappar,Palavakkam,"['Chettinad', ' North Indian', ' Chinese', ' S...",['Keema Dosa'],700.0,3.4,89.0,Average
9618,Anjappar,Parrys,"['Chettinad', ' North Indian', ' Chinese', ' S...","['Mutton Biryani', ' Butter Chicken', ' Chicke...",700.0,3.7,71.0,Good
9619,Anjappar,Triplicane,"['Chettinad', ' North Indian', ' Chinese', ' S...","['Biryani', ' Fish', ' Paratha']",700.0,3.8,81.0,Good
9620,Anjappar,GST Road,"['Chettinad', ' North Indian', ' Chinese', ' S...",['Chicken Biryani'],700.0,3.9,94.0,Good
9622,Anjappar,T. Nagar,"['Chettinad', ' North Indian', ' Chinese', ' S...",Invalid,700.0,3.7,52.0,Good

In [42]:
#sorting by rating and descending
seafood_df.sort_values(by='Rating',ascending=False).head(10)

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Rating,Rating_Count,RATING_TYPE
195,The Marina,Nungambakkam,"['Seafood', ' North Indian', ' Chinese']","['Sea Food', ' Jumbo Prawns', ' Biryani', ' Fi...",1600.0,4.8,373.0,Excellent
473,Dynasty,"Harrisons Hotel, Nungambakkam","['Chinese', ' Seafood']","['Momos', ' Golden Fried Prawns', ' Fried Rice...",1200.0,4.6,779.0,Excellent
214,Sera - The Tapas Bar & Restaurant,Gopalapuram,"['Finger Food', ' Seafood', ' Italian', ' Cont...","['Cocktails', ' Pasta', ' Nachos', ' Mashed Po...",1600.0,4.5,964.0,Excellent
315,Layalee,Ekkaduthangal,"['Arabian', ' BBQ', ' Seafood', ' Chinese', ' ...","['Fish', ' Faluda', ' Shawarma', ' Brownie', '...",700.0,4.4,586.0,Very Good
96,Urban Spatula,Anna Nagar West,"['Continental', ' Seafood', ' Biryani', ' Ital...","['Burgers', ' Pasta', ' Fish', ' Fries', ' Chi...",800.0,4.4,911.0,Very Good
2910,Taj Thalapakattu Biriyani,Poonamalle,"['North Indian', ' Chinese', ' Seafood', ' Bev...",Invalid,600.0,4.4,831.0,Very Good
376,China Town,Gopalapuram,"['Chinese', ' Seafood']","['Momos', ' Dragon Chicken', ' Chicken Momo', ...",1200.0,4.3,637.0,Very Good
9026,Copper Kitchen,Porur,"['North Indian', ' Chinese', ' Chettinad', ' S...","['Faluda', ' Bbq Chicken', ' Brownie', ' Birya...",1000.0,4.3,5073.0,Very Good
903,Chidambaram New Moorthy Cafe,Anna Nagar West,"['North Indian', ' Seafood', ' Chinese']","['Paratha', ' Pepper Chicken', ' Lobster', ' E...",500.0,4.3,715.0,Very Good
9027,Copper Kitchen,Kotturpuram,"['North Indian', ' Chinese', ' Chettinad', ' S...","['Brownie', ' Faluda', ' Biryani', ' Bbq Chick...",1000.0,4.3,8659.0,Very Good

### Q5) Which places have the highest rated restaurant for each Cuisine Type in Mumbai?

### Q6) What is the Avg Price Distibution of highest rated restaurant for each Cuisine Type in Mumbai?

### Q7) Which areas have a large number of Chinese Restaurant Market?

In [43]:
chinese_df = zomato_df[zomato_df['Cuisine'].str.contains('Chinese')]
chinese_df

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Rating,Rating_Count,RATING_TYPE
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.4,1361.0,Very Good
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617.0,Very Good
5,Dine N Fun,Medavakkam,"['South Indian', ' North Indian', ' Chinese']","['Chicken Grill', ' Shawarma', ' Naan', ' Chic...",450.0,4.1,567.0,Very Good
8,Savoury Sea Shell,Anna Nagar East,"['Arabian', ' Chinese', ' North Indian', ' Leb...","['Shawarma', ' Chicken Grill', ' Brownie', ' S...",1400.0,4.2,2564.0,Very Good
9,Sangeetha Veg Restaurant,T. Nagar,"['South Indian', ' North Indian', ' Chinese', ...","['Filtered Coffee', ' Chaat', ' Faluda', ' Mas...",800.0,4.4,39600.0,Very Good
...,...,...,...,...,...,...,...,...
11382,Texas Treat,Selaiyur,"['Bakery', ' North Indian', ' Chinese', ' Ital...",Invalid,850.0,3.8,9.0,Good
11544,Anandhi Idly Kadai,Medavakkam,"['South Indian', ' Chinese']",Invalid,200.0,4.1,778.0,Very Good
11545,Anandhi Idly Kadai,Selaiyur,"['South Indian', ' Chinese']",Invalid,200.0,4.1,367.0,Very Good
11736,Adyar Vaishnavas Thattu Idly Kadai,Porur,"['South Indian', ' Sandwich', ' Chinese', ' St...",Invalid,200.0,3.9,6.0,Good
11785,Engineers Kitchen,Ambattur,"['North Indian', ' Chinese', ' Andhra']",Invalid,400.0,3.5,6.0,Good

In [44]:
chinese_rest_df = chinese_df.groupby(by='Location').agg({'Name of Restaurant' : 'count', 'Price for 2' : 'mean'}).rename(columns= {'Name of Restaurant' : 'COUNT OF RESTAURANTS'}).reset_index()
chinese_rest_df = chinese_rest_df.sort_values('COUNT OF RESTAURANTS', ascending=False).head(25)
chinese_rest_df.head()

            Location  COUNT OF RESTAURANTS  Price for 2
76             Porur                    58   490.517241
9    Anna Nagar East                    57   638.596491
5           Ambattur                    54   417.592593
95          T. Nagar                    49   504.081633
108        Velachery                    49   612.244898

In [45]:
fig = px.bar(chinese_rest_df, x='Location', y='COUNT OF RESTAURANTS', color='Price for 2', title= 'No. of Chinese Restaurant by Places')
fig.show()

### Q8) Is there a relation between Price and Rating by each Cuisine Type?

### Q9) Is there a relation between Region and Price?

In [46]:
region_price_df=zomato_df.groupby(['Location'])['Price for 2'].mean().reset_index()
region_price_df

          Location  Price for 2
0    Abhiramapuram   200.000000
1       Adambakkam   327.631579
2            Adyar   528.571429
3          Akkarai   575.000000
4          Alandur   442.857143
..             ...          ...
125         Vepery   347.368421
126   Vettuvankeni   475.000000
127  Virugambakkam   422.000000
128   Washermenpet   380.555556
129  West Mambalam   294.230769

[130 rows x 2 columns]

In [47]:
fig=px.scatter(region_price_df, x="Location", y="Price for 2").update_traces(marker_size=8)
fig.show()

### Q10) Find the list of Affordable Restaurants?

The criteria for Affordable Restaurants would be:-
Low Price 2) High Rated
First step will be to find the restaurants with average cost 1/4th the average cost of most expensive restaurant in our dataframe.

Let me explain:-The most expensive restaurant has an average meal cost= 6000. We'll try to stay economical and only pick the restaurants that are 1/4th of 6000.

In [48]:
max_price = zomato_df['Price for 2'].max()
one_fourth_price = max_price/4
one_fourth_price

750.0

In [49]:
# Finding list of restaurants that have price less than and equal to 1/4th of the max price i.e Finding Cheap Restaurants

aff_rest_df = zomato_df[['Name of Restaurant', 'Price for 2', 'Cuisine', 'Location',]]
aff_rest_df = aff_rest_df[aff_rest_df['Price for 2'] <= 750]
aff_rest_df.sort_values(by='Price for 2', inplace=True)
aff_rest_df

,Name of Restaurant,Price for 2,Cuisine,Location
5547,Mylapore Filter Coffee,100.0,"['Street Food', ' Beverages']",Nungambakkam
2151,Cane 4 U,100.0,['Beverages'],Besant Nagar
2511,Rose Milk Raja,100.0,['Beverages'],Maduravoyal
1326,Madurai Famous Jigarthanda,100.0,"['Beverages', ' Ice Cream']",T. Nagar
108,Rayar's Mess,100.0,['South Indian'],Mylapore
...,...,...,...,...
10071,Long Live Pizza,750.0,"['Pizza', ' Fast Food']","OMR Food Street, Guduvancheri"
9568,Ponnusamy Hotels,750.0,"['Chettinad', ' South Indian', ' Chinese']",Sholinganallur
9571,Ponnusamy Hotels,750.0,"['Chettinad', ' South Indian', ' Chinese']",Saidapet
10074,Long Live Pizza,750.0,"['Pizza', ' Fast Food']",Injambakkam
9627,Kaaraikudi,750.0,"['Chettinad', ' Andhra', ' North Indian', ' Ch...",Besant Nagar

In [50]:
# Finding the highest rated list of restaurants

highrate_rest_df = zomato_df[['Name of Restaurant', 'Price for 2', 'Cuisine', 'Location','Rating']]
highrate_rest_df = highrate_rest_df[highrate_rest_df['Rating'] >= 4.5]
highrate_rest_df.sort_values(by='Price for 2', inplace=True)
highrate_rest_df

,Name of Restaurant,Price for 2,Cuisine,Location,Rating
2151,Cane 4 U,100.0,['Beverages'],Besant Nagar,4.6
11043,Kulfi Treat,100.0,"['Desserts', ' Ice Cream', ' Beverages']",T. Nagar,4.5
108,Rayar's Mess,100.0,['South Indian'],Mylapore,4.7
11179,Chennai Kulfi,150.0,"['Ice Cream', ' Desserts']",Kolathur,4.5
178,Royal Sandwich Shop,150.0,"['Fast Food', ' Desserts', ' Beverages']",Alwarpet,4.7
...,...,...,...,...,...
102,Mainland China,1800.0,"['Chinese', ' Asian', ' Sushi', ' Japanese', '...",Velachery,4.6
67,Pumpkin Tales,1800.0,"['Singaporean', ' American', ' European', ' Co...",Alwarpet,4.5
234,Hamsa,1800.0,"['North Indian', ' Chettinad', ' Mughlai', ' D...",Adyar,4.6
243,Asia Kitchen by Mainland China,1800.0,"['Momos', ' Asian', ' Chinese', ' Sushi']",Nungambakkam,4.5
250,Benjarong,2000.0,['Thai'],Alwarpet,4.7

In [51]:
highrate_aff_df = pd.merge(aff_rest_df, highrate_rest_df, how='inner', on=['Name of Restaurant', 'Location'])
highrate_aff_df = highrate_aff_df[['Name of Restaurant', 'Price for 2_x', 'Cuisine_x', 'Location', 'Rating']]
highrate_aff_df.rename(columns={'Name of Restaurant':'Name of Restaurant', 'Price for 2_x':'Price for 2', 'Cuisine_x':'Cusine', 
                                'Location':'Location', 'Rating':'Rating'},inplace=True)

In [52]:
# Affordable Restaurants with low price and high rating 

highrate_aff_df

,Name of Restaurant,Price for 2,Cusine,Location,Rating
0,Cane 4 U,100.0,['Beverages'],Besant Nagar,4.6
1,Rayar's Mess,100.0,['South Indian'],Mylapore,4.7
2,Kulfi Treat,100.0,"['Desserts', ' Ice Cream', ' Beverages']",T. Nagar,4.5
3,A AA E EE Soup Shop,150.0,"['Sandwich', ' South Indian']",Karapakkam,4.5
4,Royal Sandwich Shop,150.0,"['Fast Food', ' Desserts', ' Beverages']",Alwarpet,4.7
...,...,...,...,...,...
88,Cococane,600.0,['South Indian'],"OMR Food Street, Guduvancheri",4.6
89,Mezze,700.0,['Middle Eastern'],Alwarpet,4.7
90,Blind Ch3mistry,700.0,"['Cafe', ' Continental', ' Italian', ' Dessert...",Nungambakkam,4.5
91,Blind Ch3mistry,700.0,"['Cafe', ' Continental', ' Italian', ' Dessert...",Besant Nagar,4.5
92,Blind Ch3mistry,700.0,"['Cafe', ' Continental', ' Italian', ' Dessert...",Teynampet,4.5

### Q11) Find the list of most Reliable Restaurants?

The criteria for most Reliable Restaurants would be:

Low Price 2) High Rated 3) Large No. of Votes

First step will be to find the restaurants with Votes greater than Mean of Votes

In [53]:
mean_votes = zomato_df['Rating_Count'].mean()
mean_votes

947.0808034695275

In [54]:
# Finding list of restaurants that have Votes greater than and equal to  Mean of Vote

mean_rest_df = zomato_df[['Name of Restaurant', 'Price for 2', 'Cuisine', 'Location', 'Rating_Count']]
mean_rest_df = mean_rest_df[mean_rest_df['Rating_Count'] > 947]
mean_rest_df.sort_values(by='Rating_Count', inplace=True)
mean_rest_df

,Name of Restaurant,Price for 2,Cuisine,Location,Rating_Count
8895,Dindigul Thalappakatti,900.0,"['South Indian', ' Biryani', ' Chinese', ' Nor...",Perungudi,948.0
227,Haagen Dazs,800.0,"['Ice Cream', ' Desserts', ' Beverages']",Nungambakkam,949.0
266,Little North,800.0,"['North Indian', ' Chinese']",Kilpauk,949.0
1881,Annapoorna Hot Veg Restaurant,250.0,"['South Indian', ' Chinese', ' North Indian', ...",Alandur,951.0
1372,Mistletoe-Original Milkshakes,250.0,"['Beverages', ' Desserts', ' Sandwich']",Ramapuram,951.0
...,...,...,...,...,...
8822,Sangeetha Veg Restaurant,500.0,"['South Indian', ' North Indian', ' Chinese']",Thuraipakkam,45500.0
232,Sapthagiri Tiffin Centre,150.0,"['South Indian', ' Chinese']",T. Nagar,47200.0
22,Supriya Andhra Restaurant,650.0,"['Biryani', ' North Indian', ' Chinese']",Thuraipakkam,50100.0
251,Hotelkaar Biriyani,350.0,"['South Indian', ' Biryani']",T. Nagar,51700.0
55,Guntur Gongura,500.0,"['Biryani', ' Andhra', ' North Indian', ' Chin...",Sholinganallur,59900.0

These are the most reliable, highest rated and affordable restaurants:- We obtain this dataframe by simply taking the intersection of highrate_aff_df & mean_rest_df

This dataframe obtained below shows the restaurants whose:

Cost is below 750 Rating is above 4.5 Votes are above 947

In [55]:
reliable_rest_df = pd.merge(mean_rest_df, highrate_aff_df, how='inner', on=['Name of Restaurant', 'Location'])
reliable_rest_df = reliable_rest_df[['Name of Restaurant', 'Price for 2_x', 'Cuisine', 'Location', 'Rating_Count']]
reliable_rest_df.rename(columns={'Name of Restaurant':'Name of Restaurant', 'Price for 2_x':'Price for 2', 'Cuisine':'Cuisine', 
                                'Location':'Location', 'Rating_Count':'Rating_Count'},inplace=True) 
reliable_rest_df

,Name of Restaurant,Price for 2,Cuisine,Location,Rating_Count
0,Dominus,400.0,"['Chinese', ' Chettinad']",Anna Nagar West,969.0
1,Shri Rajasthani Dhaba,500.0,"['Rajasthani', ' North Indian']",Anna Nagar West,983.0
2,The Belgian Waffle Co.,300.0,"['Desserts', ' Beverages', ' Fast Food']",Vadapalani,1213.0
3,Royal Sandwich Shop,150.0,"['Fast Food', ' Desserts', ' Beverages']",Alwarpet,1304.0
4,Royal Sandwich Shop,150.0,"['Fast Food', ' Desserts', ' Beverages']",Alwarpet,1304.0
5,Royal Sandwich Shop,150.0,"['Fast Food', ' Desserts', ' Beverages']",Alwarpet,1304.0
6,BurgerMan,450.0,"['Burger', ' Fast Food', ' Beverages']",Besant Nagar,1444.0
7,Domino's Pizza,400.0,"['Pizza', ' Fast Food']",Porur,2025.0
8,Domino's Pizza,400.0,"['Pizza', ' Fast Food']",Porur,2025.0
9,Kabab Corner,450.0,"['Kebab', ' Rolls', ' Mughlai']",Egmore,2080.0
10,Mezze,700.0,['Middle Eastern'],Alwarpet,2249.0
11,Cream Stone,350.0,"['Desserts', ' Ice Cream']",Alwarpet,2552.0
12,The Grand Sweets and Snacks - Amirtham Restaurant,500.0,"['Mithai', ' North Indian', ' South Indian']",Anna Nagar West,2603.0
13,Momo Sa-Khang by Kailash Kitchen,350.0,"['Momos', ' Chinese']",Choolaimedu,2825.0
14,Ratna Cafe,400.0,"['South Indian', ' Chinese', ' Street Food', '...",Triplicane,3596.0
15,Domino's Pizza,400.0,"['Pizza', ' Fast Food']",Triplicane,3683.0
16,Fusilli Reasons,400.0,['Fast Food'],Kilpauk,3954.0
17,Domino's Pizza,400.0,"['Pizza', ' Fast Food']",Adyar,4536.0
18,Prems Graama Bhojanam,500.0,['South Indian'],Adyar,4621.0
19,Domino's Pizza,400.0,"['Pizza', ' Fast Food']",Perungudi,4865.0
20,Domino's Pizza,400.0,"['Pizza', ' Fast Food']",Chromepet,5788.0
21,Domino's Pizza,400.0,"['Pizza', ' Fast Food']",Poonamalle,6163.0
22,Domino's Pizza,400.0,"['Pizza', ' Fast Food']",Poonamalle,6163.0
23,Sangeetha Fast Foods,500.0,"['North Indian', ' Chinese', ' South Indian', ...",RA Puram,7986.0
24,Shree Mithai,300.0,"['Mithai', ' Street Food', ' Fast Food']",Chetpet,18600.0